<?xml version="1.0" encoding="UTF-8"?>
<?page title="Footer" contentType="text/html;charset=UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd"
    xmlns:h="http://www.w3.org/1999/xhtml">

  <div sclass="navbar">
    <div sclass="navbar-inner">
      <div sclass="container">
        <h:ul class="nav footerCopyright">
          <h:li>
            <a href="${APPLICATION_HOME.url}"
               label="${labels.copyright}" tooltiptext="${labels.copyright}"/>
          </h:li>
        </h:ul>
        <div sclass="nav-collapse">
          <h:ul class="nav headerLinks">
            <h:li>
              <a href="${APPLICATION_SERVICE_TERMS.url}" label="${labels.menu.terms}"/>
            </h:li>
            <h:li>
              <a href="${APPLICATION_PRIVACY.url}" label="${labels.menu.privacy}"/>
            </h:li>
            <h:li>
              <a href="${APPLICATION_ABOUT.url}" label="${labels.menu.about}"/>
            </h:li>
            <h:li>
              <a href="${APPLICATION_CONTACTS.url}" label="${labels.menu.contact}"/>
            </h:li>
          </h:ul>
        </div>
      </div>
    </div>
  </div>
</zk>
