<?xml version="1.0" encoding="UTF-8"?>
<?page id="indexPage" title="bet4trade - Comming Soon" cacheable="true" language="xul/html" zscriptLanguage="Java"?>
<?meta content="text/html; charset=UTF-8" pageEncoding="UTF-8"?>

<zk xmlns="http://www.zkoss.org/2005/zul" xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

  <div sclass="form-horizontal">
    <h:h1>Coming Soon</h:h1>
    <separator/>
    <h:p>
      Want to get in touch with us?
      <h:br/>
      You can create an account
      <h:a href="${APPLICATION_REGISTRATION.url}">here</h:a>
      or you can
      <h:a href="mailto:geral@bet4trade.com">contact us</h:a>
      if you require further information regarding our services.
      <h:br/>
      Please read our <h:a href="/content/page/index.zul?action=privacy">Privacy Policy</h:a>
        and <h:a href="/content/page/index.zul?action=service-terms">Service Terms</h:a>.
    </h:p>
  </div>

</zk>
