/* 
CSS Document
*/
body {
    background-color: whiteSmoke;
}

.hero-unit {
    padding: 10px !important;
    font-size: 12px !important;
}

.hero-unit p {
    font-size: 12px !important;
}

.hero-unit h1 {
    font-size: 30px !important;
}

.hero-unit h2 {
    font-size: 15px !important;
}

.hero-unit h3 {
    font-size: 10px !important;
}

#messagesContainer {
    margin: 2px;
    padding-bottom: 5px;
    padding-top: 10px;
}

/*
INIT Navigation Menu CSS Override
*/
.headerLinks {
    padding-right: 3px;
    padding-top: 9px;
    float: right !important;
}

.headerLinks a {
    font-weight: bold;
}

.footerLinks {
    padding-right: 3px;
    padding-top: 9px;
    float: right !important;
}

.footerLinks a {
    font-weight: bold;
}

.footerCopyright {
    padding-right: 3px;
    padding-top: 9px;
    float: left !important;
    font-weight: bold;
}

fieldset {
    padding: 4.900000095367432px 10.5px 8.75px;
}

/*
END Navigation Menu CSS Override
*/

/*
ZK Override
*/

/*
END ZK Override
*/
/* Bootstrap override */

.btn {
    min-width: 70px;
}

.form-horizontal .control-label {
    width: 120px;
}

.form-horizontal .controls {
    margin-left: 150px;
}

.form {
    margin: 0 0 0;
}

.btn-toolbar {
    margin-bottom: 0;
    background-color: #EEE;
}

.form-horizontal .control-group {
    margin-bottom: 5px;
}

.well {
    padding: 0;
    margin-bottom: 0;
}

.close {
    font-size: 12px;
}

/* Bootstrap override */

.noBorder {
    border: none !important;
}

.right {
    text-align: right;
    margin: 10px;
}

.small, .small>input {
    width: 35px;
}

.small-medium, .small-medium>input {
    width: 50px;
}

.medium, .medium>input {
    width: 75px;
}

.medium-large, .medium-large>input {
    width: 135px;
}

.large, .large>input {
    width: 185px;
}

.xtra-large, .xtra-large>input {
    width: 255px;
}
